.nav {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.500);
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
  }
  
  .nav li {
    flex: 1;
    text-align: center;
  }
  
  .nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    text-decoration: none;
    font-size: 11px;
  }
  
  .nav a span {
    margin-top: 2px;
    margin-bottom: -9px;
  }
  
  .nav a.active {
    color: #2141df;
  }
  
  .nav a.active span {
    color: #2141df;
  }