.eAvanceCont{
    text-align: start;
    padding: 5%;
  } 

.eAvanceInfCont .button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
.eAvanceInfCont .button{
    padding: 10px;
}
.eAvanceInfCont .buttonHeader{
    font-size: 16px;
}
.eAvanceInfCont{
    padding: 5% 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: /* Dispoicion pasr celular*/
        "eAvanceGraficaCont" 
        "eAvanceModulosCursadosCont"
        "avanceModulosPorCursarCont";
    gap:15px;
}
.eAvanceGraficaCont{
    grid-area:eAvanceGraficaCont;
    height: max-content;

}
.eAvanceModulosCursadosCont{
    grid-area:eAvanceModulosCursadosCont;
    display: flex;
    flex-direction: column;
}
.avanceModulosPorCursarCont{
    grid-area:avanceModulosPorCursarCont;
    display: flex;
    flex-direction: column;
}

.eModuleInfoCont{
    background-color:white;
    border-radius:10px; 
    width: 100%;
    height: 100%;
    padding: 12px 10px 0 10px;
    margin-top:5px; 
    font-size:15px;
}
.eModuleInfoCont li{
    padding-bottom: 15px;
}

@media (min-width: 600px){
  .eAvanceCont .latInfoCont{
    margin: -20px 0px 0px 0px;
  }
}
@media (min-width: 750px){
    .eAvanceGraficaCont{
        grid-area:eAvanceGraficaCont;
        height: max-content;
    
    }
    .eAvanceInfCont{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: /* Dispoicion pasr celular*/
            "eAvanceGraficaCont eAvanceModulosCursadosCont"
            "avanceModulosPorCursarCont ..." ;
        gap:15px;
    }
    .eAvanceInfCont .buttonHeader{
        font-size: 16px;
    }
    .chart{
        height: 100%;
        position: relative;
        display: flex;
    }
}

@media (min-width: 1050px){
    .eAvanceInfCont{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "eAvanceGraficaCont eAvanceModulosCursadosCont avanceModulosPorCursarCont" ;
        gap:15px;
    }
    .chart{
        height: 100%;
        position: relative;
        display: flex;
        
    }
  
}