.eCalificacionesCont{
    text-align: start;
    padding: 5%;
  }  

.currentModule .califInfo{
    font-size: 12vw;
    font-weight: bold;
    margin-right: 5px;
}
.eCalificacionesCont .buttonTitle{
    font-size: 17px;
}
.periodoInfo{
    border-radius: 50px;
    width: fit-content;
    padding: 2px 7px;
    color: white;
    letter-spacing: 0.03em;
    font-size: 13px;
    margin: 3px 0 0 -4px;
}

.eCalificacionesCont .ePastModule .buttonTitle{
    font-size: 14px;
}
.eCalificacionesCont .ePastModule .califInfo{
    font-size: 10vw;
    font-weight: bold; 
    margin-bottom: -5px;
}

@media (min-width: 600px){
    .eCalificacionesCont .currentModule{
        border-radius: 20px;
    }
    .eCalificacionesCont .ePastModule{
        border-radius: 18px;
    }
    .eCalificacionesCont .buttonTitle{
        font-size: 22px;
    }
    .eCalificacionesCont .currentModule .califInfo{
        font-size: 7vw;
    }
    .periodoInfo{
        font-size: 13px;
        margin-top: 5px;
    }

    .eCalificacionesCont .ePastModule .califInfo{
        font-size: 5vw;
        font-weight: bold;  
        margin-bottom: 0px;
    }
    .eCalificacionesCont .ePastModule .buttonTitle{
        font-size: 17px;
    }      
}
@media (min-width: 950px){
    .eCalificacionesCont .ePastModule .buttonTitle{
        font-size: 19px;
    }

    .eCalificacionesCont .ePastModule{
        border-radius: 20px;
    }
}