.homeCont{
    text-align: start;
    padding: 5%;
  }  

.eUsuarioButton{
    grid-area: eUsuarioButton;
}
.eUsuarioButton:hover{
    color:#073cc3;
}

.eCalendarioButton{
    grid-area: eCalendarioButton;
}
.eCalendarioButton:hover{
    color:#169e21;
}

.eCalificacionesButton{
    grid-area: eCalificacionesButton;
}
.eCalificacionesButton:hover{
    color:#e7bb0e;
}

.ModularCont{
    padding: 10% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: /* Dispoicion pasr celular*/
        "eCalendarioButton eUsuarioButton"
        "eCalificacionesButton eUsuarioButton";
    gap:15px;
}

.simpleCont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "currentModule currentModule currentModule";
    padding: 7% 0;
}
.currentModule{
    grid-area: currentModule;
    padding: 15px 12px;
}
.currentModule .buttonTitle{
    font-size: 18px;
}

@media (min-width: 600px){
    .ModularCont{
        grid-template-areas:
        "eUsuarioButton eCalendarioButton eCalificacionesButton";
        grid-template-columns: repeat(3, 1fr);
        padding: 2% 0;
    }
    .simpleCont{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "currentModule currentModule";
        padding: 2% 0;
    }
    .currentModule .buttonTitle{
        font-size: 22px;
    }
}
@media (min-width: 950px){
    .ModularCont{
        grid-template-areas:
        "eUsuarioButton eCalendarioButton eCalificacionesButton";
        grid-template-columns: repeat(4, 1fr);
    }
    .simpleCont{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "currentModule";
    }
    .eUsuarioButton .buttonTitle{
        font-size: 22px;
    }
    .eCalendarioButton .buttonTitle{
        font-size: 22px;
    }
    .eCalificacionesButton .buttonTitle{
        font-size: 22px;
    }
}