@import url('https://fonts.googleapis.com/css?family=Product+Sans');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.EstudiantesContainer{
    min-height: 100%;
    max-width: 100%;
    background-attachment: fixed;
    font-family:'Product Sans', sans-serif;
    display: grid;
    grid-template: /* Dispoicion pasr celular*/
        "EstudiantesContent"/
        100%;
        
}


.EstudiantesContent{
    grid-area: EstudiantesContent;
    max-width: 100%;
}
.EstudiantesNav{
    display: none;
}

@media (min-width: 600px){
    .EstudiantesContainer{
        grid-template:
        "EstudiantesNav  EstudiantesContent"/
        25%    75%;
    }
    .StickyNavContent {
        display: block;
        position: sticky;
        top: 0;
        bottom: auto;
        height: 100vh;
        
    }
    .EstudiantesNav{
        grid-area: EstudiantesNav;
        background-color: rgba(0, 0, 0, 0.400);
        position: sticky;
        bottom: 0;
        display: inline;
        
    }

}
@media (min-width: 800px){
    .EstudiantesContainer{
        grid-template:
        "EstudiantesNav  EstudiantesContent"/
        27%    73%;
    }
}

@media (min-width: 1000px){
    .EstudiantesContainer{
        grid-template:
        "EstudiantesNav  EstudiantesContent"/
        22%    78%;
    }
}
@media (min-width: 1300px){
    .EstudiantesContainer{
        grid-template:
        "EstudiantesNav  EstudiantesContent"/
        20%    80%;
    }
}