.eModulosCont{
    text-align: start;
    padding: 5%;
  } 
.eModulosCont .AditionalInfo{
    margin: 0px 0px;
}

.eModuloInfoCont{
  padding: 5% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: /* Dispoicion pasr celular*/
        "eCalifCont eSemanaCont" 
        "eCalifCont eExamenCont";
    gap:15px;
}

.eModuloInfoCont .eCalifCont{
  grid-area:eCalifCont;
}

.eModuloInfoCont .eSemanaCont{
  grid-area:eSemanaCont;
}

.eModuloInfoCont .eExamenCont{
  grid-area:eExamenCont;
}
.eCalifCont .eCalifInfo{
  font-size: 16vw;
  font-weight: bold;
  margin-top: auto;
  padding-top: 20px;
}
.eSemanaCont .eSemanasInfo{
  font-size: 6vw;
  font-weight: bold;
  margin-top: auto;
  padding-top: 10px;
}
@media (min-width: 600px){
  .eModulosCont .latInfoCont{
    margin: -20px 0px 0px 0px;
  }
  .eModuloInfoCont{
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: /* Dispoicion pasr celular*/
        "eCalifCont eCalifCont eCalifCont eSemanaCont eSemanaCont eSemanaCont" 
        "eCalifCont eCalifCont eCalifCont eExamenCont eExamenCont eExamenCont";
  }
  .eCalifCont .eCalifInfo{
    font-size: 11vw;
  }
  .eSemanaCont .eSemanasInfo{
    font-size: 2.5vw;
    padding-top: 5px;
  }
}
@media (min-width: 950px){
  .eModuloInfoCont{
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: /* Dispoicion pasr celular*/
        "eCalifCont eCalifCont eSemanaCont eSemanaCont" 
        "eCalifCont eCalifCont eExamenCont eExamenCont";
  }
  .eCalifCont .eCalifInfo{
    font-size: 10vw;
  }
  .eSemanaCont .eSemanasInfo{
    font-size: 2vw;
    padding-top: 5px;
  }
}