.mCalificacionesCont{
    text-align: start;
    padding: 5%;
}  

.mCalificacionesCont .editButton{
    padding: 5px 3.2vw;
    color:white;
    background-color: blue;
}
.mCalificacionesCont .disabledButton{
    padding: 5px 3.2vw;
    color:white;
    background-color: gray;
    cursor: not-allowed;
}