.header {
    background-color: #c4d7f0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 54px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.35);
  }

  .header .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    margin-left: auto;
    margin-right: 10px;
    color: #333;
  }

  .logo{
    height: 90%;
    margin-left: 10px;
    margin-top: 10px;
  }