@import url('https://fonts.googleapis.com/css?family=Product+Sans');

.App {
  text-align: center;
  background-image: url('assets/img/bg2.png');
  background-size:cover;
  background-attachment:fixed;
  font-family:'Product Sans', sans-serif;
  min-height:100vh;
}
/* --- Subtitulo  --- */
.contSubtitle{
  display: block;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  margin: 3% 0% 2% 0;
}

/* --- mensajes o información --- */
.AditionalInfo{
  display: inline-block;
  margin: 3% 0px;
  padding: 8px 19px;
  border: solid 2px white;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.02em;
  background-color: rgba(0, 0, 0, 0.120); 
}
.latInfoCont{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* oculta el scrollbar en firefox */
  -ms-overflow-style: none; /* oculta el scrollbar en IE y Edge */
  margin: 15px 0;
}

.latInfoCont::-webkit-scrollbar{
  display: none;
}

.latInfo {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 13px;
  flex: 1 0 auto; 
  box-sizing: border-box;
  margin: 0 8px 0 0 ;
}

.pageTitle{
  display:flex;
  width: 100%;
  color: white;
  border-bottom: 2px solid white;
  padding: 7px;
  margin-bottom: 40px;
  font-size: 20px;
  justify-content: space-between;
}
/* --- Contenedor genérico --- */
.genericCont {
  display: flex;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 12px;
  color:black;
  flex-direction: column;
}



/* --- Boton generico --- */
.button{
  display: flex;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 12px;
  overflow: hidden;
  color:black;
}
.button:hover{
  background-color: white;
}
.buttonHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

/* --- Boton normal --- */
.normalButton {
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  font-size: 16px;
  border-radius: 15px;
  min-height: 2vh;
  max-height: fit-content;
}
.normalButton .buttonTitle{
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: 15px;
  line-height: 0.9;
  margin-top: auto;
  padding-top: 10px;
}

.normalButton .textContLongButton{
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  width: 100%;
  margin-top:auto;
}

/* --- Boton grande --- */
.bigButton {
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  font-size: 18px;
  border-radius: 15px;
  min-height: 10vw;
}
.bigButton .buttonTitle{
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: 20px;
  line-height: 0.9;
  margin-top: auto;
}

/* --- Boton largo --- */
.longButton {
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  border-radius: 13px;
}
.longButton .textContLongButton{
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  width: 100%;
  margin-top:1%;
}
.longButton .buttonTitle{
  font-size: 16px;
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-bottom: 2px;
  color: black;
}

/* --- Contenedor grid --- */
.gridCont{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:min-content;
  grid-gap: 10px;
  padding: 7% 0;
}

@media (min-width: 600px){
  .gridCont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:min-content;
    grid-gap: 15px;
    padding: 2% 0;
  }
  .buttonHeader{
    font-size: 18px;
  }

  .normalButton {
    flex-direction: column;
    justify-content: auto;
    align-items: auto;
    font-size: 16px;
    border-radius: 15px;
    min-height: 10vw;
    max-height:fit-content;
  }
  .normalButton .buttonTitle{
    font-size: 17px;
  }
  .pageTitle{
    width: 90%;
    border-bottom: 3px solid white;
    margin-bottom: 50px;
    font-size: 25px;
  }
  .latInfoCont{
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    width: fit-content;
  }
  .latInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 13px;
    margin: 0 10px 0 0 ;
    width: fit-content;    
  }
}
@media (min-width: 600px){
  .buttonHeader{
    font-size: 15px;
  }
}
@media (min-width: 700px){
  .buttonHeader{
    font-size: 18px;
  }
}

@media (min-width: 950px){
  .gridCont{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:min-content;
  }
  .buttonHeader{
    font-size: 20px;
  }
  .normalButton .buttonTitle{
    font-size: 20px;
  }
  .pageTitle{
    width: 80%;
    font-size: 30px;
  }
}