@import url('https://fonts.googleapis.com/css?family=Product+Sans');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.MaestrosContainer{
    min-height: 100%;
    max-width: 100%;
    background-attachment: fixed;
    font-family:'Product Sans', sans-serif;
    display: grid;
    grid-template: /* Dispoicion pasr celular*/
        "MaestrosContent"/
        100%;
        
}


.MaestrosContent{
    grid-area: MaestrosContent;
    max-width: 100%;
}
.MaestrosNav{
    display: none;
}

@media (min-width: 600px){
    .MaestrosContainer{
        grid-template:
        "MaestrosNav  MaestrosContent"/
        25%    75%;
    }
    .StickyNavContent {
        display: block;
        position: sticky;
        top: 0;
        bottom: auto;
        height: 100vh;
        
    }
    .MaestrosNav{
        grid-area: MaestrosNav;
        background-color: rgba(0, 0, 0, 0.400);
        position: sticky;
        bottom: 0;
        display: inline;
        
    }

}
@media (min-width: 800px){
    .MaestrosContainer{
        grid-template:
        "MaestrosNav  MaestrosContent"/
        27%    73%;
    }
}

@media (min-width: 1000px){
    .MaestrosContainer{
        grid-template:
        "MaestrosNav  MaestrosContent"/
        22%    78%;
    }
}
@media (min-width: 1300px){
    .MaestrosContainer{
        grid-template:
        "MaestrosNav  MaestrosContent"/
        20%    80%;
    }
}